@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Oleo+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.roboto {
  font-family: "Roboto", serif;
  font-weight: 100;
  font-style: normal;
}
.oleo {
  font-family: "Oleo Script", system-ui;
  font-weight: 700;
  font-style: normal;
}
.marcellus {
  font-family: "Marcellus", serif;
  font-weight: 400;
  font-style: normal;
}


.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  /* Add these styles to your Home.css or a new CSS file */
.navbar-visible {
  transition: top 0.3s;
  top: 0;
}

.navbar-hidden {
  transition: top 0.3s;
  top: -100px; /* Adjust this value to hide the navbar */
}

@keyframes zoomOut {
  from {
    transform: scale(1.04); /* Start slightly zoomed in */
  }
  to {
    transform: scale(1); /* Slowly zoom out */
  }
}

.banner-zoom {
  animation: zoomOut 5s ease-out; /* Play zoom-out animation for 5 seconds */
}


.whatsapp-icon {
  position: fixed;
  bottom: 20px; /* Adjust based on your preference */
  right: 20px;  /* Move to the right corner */
  background-color: #25D366; /* WhatsApp green */
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Ensure it appears above other elements */
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.whatsapp-icon:hover {
  background-color: #1DA851; /* Slightly darker green for hover */
  transform: scale(1.1);
}

/* Add padding for content below the navbar */
body {
  padding-top: 80px; /* Adjust this value to match your navbar height */
}

/* Ensure the navbar has a higher z-index */
.navbar {
  z-index: 100; /* Higher than other elements */
}

/* Optional: Ensure the brush image doesn't overlap the navbar */
.brush-image {
  position: absolute;
  top: 0;
  z-index: -1; /* Move it below other content */
}
