@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Oleo+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.roboto {
  font-family: "Roboto", serif;
  font-weight: 100;
  font-style: normal;
}
.oleo {
  font-family: "Oleo Script", system-ui;
  font-weight: 700;
  font-style: normal;
}
.marcellus {
  font-family: "Marcellus", serif;
  font-weight: 400;
  font-style: normal;
}


.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  /* Add these styles to your Home.css or a new CSS file */
.navbar-visible {
  transition: top 0.3s;
  top: 0;
}

.navbar-hidden {
  transition: top 0.3s;
  top: -100px; /* Adjust this value to hide the navbar */
}

@keyframes zoomOut {
  from {
    transform: scale(1.04); /* Start slightly zoomed in */
  }
  to {
    transform: scale(1); /* Slowly zoom out */
  }
}

.banner-zoom {
  animation: zoomOut 5s ease-out; /* Play zoom-out animation for 5 seconds */
}
